{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="row justify-content-center mt-5 mb-4 font-weight-normal">Rejestracja</h1>
            
            <div class="container-fluid">
                {{ form_start(registrationForm) }}
                <div class="row justify-content-center mb-2">
                    <div class="col col-lg-2 col-sm-8">
                    {{ form_label(registrationForm.email, 'e-mail') }}
                    
                    {{ form_widget(registrationForm.email) }}
                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col col-lg-2 col-sm-8">
                    {{ form_label(registrationForm.login, 'nick') }}
                    {{ form_widget(registrationForm.login) }}
                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col col-lg-2 col-sm-8">
                    {{ form_label(registrationForm.plainPassword, 'Hasło') }}
                    {{ form_widget(registrationForm.plainPassword) }}
                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col col-lg-2 col-sm-8 text-end">
                    {{ form_label(registrationForm.agreeTerms, 'Zaakceptuj regulamin') }}
                    {{ form_widget(registrationForm.agreeTerms) }}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-lg-1 col-md-3 com-sm-6">
                    <button type="submit" class="btn btn-primary">Zarejestruj</button>
                    </div>
                </div>
            </div>
                {{ form_end(registrationForm) }}
  
{% endblock %}
