{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Rejestracja</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'e-mail'
        }) }}
        {{ form_row(registrationForm.login, {
            label: 'Nick'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Hasło'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Zaakceptuj albo się pogniewamy dziunia'
        }) }}

        <button type="submit" class="btn">Rejestracja</button>
    {{ form_end(registrationForm) }}
{% endblock %}
