{{ form_start(flashcardShow, {'action': path('session', {id: session.id})}) }}
    <div style="width: 300px; margin-left: 5px; margin-bottom: 10px;">
        {{ form_widget(flashcardShow.flashcard, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div style="width: 300px; margin-left: 5px; margin-bottom: 10px;">
        {{ form_widget(flashcardShow.answer, { 'attr': {'class': 'form-control'} }) }}
    </div>
     <div style="width: 300px; margin-left: 5px; margin-bottom: 10px;">
         {{ form_widget(flashcardShow.send, { 'attr': {'class': 'form-control'} }) }}
    </div>
    {{ form_widget(flashcardShow.checkId) }}     
{{ form_end(flashcardShow) }}
