{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Session</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>CorrectCount</th>
                <td>{{ session.correctCount }}</td>
            </tr>
            <tr>
                <th>IncorrectCount</th>
                <td>{{ session.incorrectCount }}</td>
            </tr>
            <tr>
                <th>Group</th>
                <td>{{ session.groupId.Name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('session_new') }}">Wróć do wyboru grupy</a>
     {{ include('session/_sessionplay.html.twig') }}
{% endblock %}
