{% extends 'base.html.twig' %}
{% set menu = menu %}

{% block title %}Grupy
{% endblock %}

{% block body %}

	<h1 class="mb-4 view-header">Grupy</h1>
	<div class="row row-cols-auto container-boxes">
		<div class="col p-0">
			<div class="card bg-dark text-light m-4 add-card" style="width: 20rem; height: 16rem; border-radius: 10px;">
				<a href="{{ path('group_new') }}" class="card-body d-flex align-content-center add-button">
					<img src="{{ asset('plus-icon.svg') }}" class="align-self-center flex-fill plus-icon" style="width: 12rem; height: 12rem;"/>
				</a>
			</div>
		</div>
		{% for group in groups %}
			<div class="col p-0">
				<div class="card bg-dark text-light m-4" style="width: 20rem; height: 16rem; border-radius: 10px;">
					<div class="card-body">
						<h3 class="card-title">{{ group.Name }}</h3>
						<p class="card-text" style="font-size: 1.2rem;">{{ group.Name }}</p>
					</div>
					<div class="card-body d-flex flex-row-reverse align-items-end">
						<form method="post" action="{{ path('group_delete', {'id': group.id}) }}" onsubmit="return confirm('Na pewno chcesz usunąć tą grupę i wszystkie powiązane fiszki?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ group.id) }}">
							<a href="{{ path('flash_card_index', {'groupId': group.id}) }}" class="btn btn-primary m-1">Fiszki</a>
							<a href="{{ path('group_edit', {'id': group.id}) }}" class="btn btn-primary m-1">Edytuj</a>
							<button class="btn btn-danger m-1">Usuń</button>
						</form>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
