{% extends 'base.html.twig' %}

{% block title %}FlashCard index{% endblock %}

{% block body %}
    <h1>FlashCard index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Translation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flash_card in flash_cards %}
            <tr>
                <td>{{ flash_card.id }}</td>
                <td>{{ flash_card.Content }}</td>
                <td>{{ flash_card.Translation }}</td>
                <td>
                    <a href="{{ path('flash_card_edit', {'id': flash_card.id, 'groupId': flash_card.GroupId.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('flash_card_new', {groupId:  groupId}) }}">Create new</a>
{% endblock %}
